[ToC](000toc.ipynb)

# Datatypes, Values, and Variables

## Datatypes

The Python programming language provides a huge variety of data types which can be used to represent many different phenomena in your programs. In this course we will b focusing on a very small subset of primitive data types
* `bool` *boolean* data type for representing True and False
* `int` *integer*Â for positive and negative whole numbers)
* `float` *float* for representing positive and negative decimal values
* `str` *string* used to represent text data
* `tuple` used to represent a heterogeneous collection of data
* `list`  used to represent a homogeneous collection of data

## Values

Each of the python datatypes described above may be represented with a variety of values. Each data type has rules about how values of that datatype must be represented.

### `bool` Boolean
There are exactly 2 possible values for boolean data, `True` and `False`. In order for these to be recognized by the python interpreter, they must be spelled correctly and **the first letter must be capitalized**.

In [84]:
True

True

In [85]:
False

False

### `int` Integer
Integers are a numeric datatype. This means that they can be used to perform mathematical operations (*see Unit 2*). They can be positive or negative whole numbers.

In [86]:
1

1

In [87]:
0

0

In [88]:
-3

-3

In [89]:
1234443234

1234443234

In [90]:
-532452345

-532452345

### `float` Decimal
Floats are another numeric datatype which can also be used to perform mathematical operations. They can be positive or negative decimal numbers with a limit imposed on precision.

In [91]:
1.0

1.0

In [92]:
-3.14

-3.14

In [93]:
23.2342342342342412313

23.23423423423424

*Notice how the last 5 decimal places were lost in the last example of a float.*

### `str` Strings
Strings are used to represent text data in programs.

In [94]:
"This is a string."

'This is a string.'

In [95]:
'Today is the day after yesterday.'

'Today is the day after yesterday.'

In [96]:
"""
A triple quoted string is useful
because it can be used to create a
string with multiple lines of text.
"""

'\nA triple quoted string is useful\nbecause it can be used to create a\nstring with multiple lines of text.\n'

In [97]:
'''
You can use triple apostrophes
as well as triple quotation marks.
'''

'\nYou can use triple apostrophes\nas well as triple quotation marks.\n'

*Note: You must end the string with the same type of quotation mark that you started it with. That type of quotation mark may not appear inside the string unless you precede it with a back slash (\\).

In [98]:
"I \"love\" you."

'I "love" you.'

In [99]:
"I 'love' you."

"I 'love' you."

In [100]:
"""
"I 'love' you.
"""

'\n"I \'love\' you.\n'

In [101]:
'''
""" I love you."""
'''

'\n""" I love you."""\n'

### `tuple` Tuples
Tuples are used to represent and store multiple pieces of data that collectively represent 1 thing. The two examples below represent the lastname, firstname and year, month, and date of birth of a president. We could create a `tuple` for each president that contains the same 5 pieces of data. ***Notice that a tuple can contain data of different types. The two examples below contain both `str` and `int` datatypes.***

In [102]:
("Washington", "George", 1732, 2, 22)

('Washington', 'George', 1732, 2, 22)

In [103]:
("Lincoln", "Abraham", 1809, 2, 12)

('Lincoln', 'Abraham', 1809, 2, 12)

The next 2 examples represent x-y coordinates of points in a plane.

In [104]:
(0, 0)

(0, 0)

In [105]:
(-5, 13)

(-5, 13)

We will learn more about working with `tuple` data later in the semester.

### `list` Lists
A list is a datatype used to represent a collection or sequence of items which all represent the same type of thing. An example of this would be a list of test scores, types of animals, or distances in meters. Lists are similar to tuples in that they are collections, but a list must contain only 1 type of data. In the first example below, all of the data in the list are of type `int`. In the second example, all of the data are of type `str`.

In [106]:
[78, 84, 93, 95, 100, 89]

[78, 84, 93, 95, 100, 89]

In [107]:
["cat", "dog", "raccoon", "sea cucumber"]

['cat', 'dog', 'raccoon', 'sea cucumber']

In [108]:
[1.5, 10.75, 3.8]

[1.5, 10.75, 3.8]

We will learn more about working with `list` data later in the semester.

## Variables
You can think of a variable as a bucket or some other kind of container. We can put things into a bucket to make it easier to store, move, and manipulate. A bucket can contain many different things: water, sand, ping-ping balls, insects, and anything else you can imagine. If we don't keep those things in a bucket, it's hard to keep track of them: water will run all over the place, ping-ping balls will go bouncing away, and who knows what the insects will do. We can't do anything usefull with those things without a container to keep them in.

Data in Python is just the same: if we don't store it in some kind of container, we can't store, move, or manipulate it in any way. So, this is what variables are used for. Now, here is a technical definition of a variable: A variable is a named location in the computers memory where we can store data to, and retrieve data from.

### Creating Variables
Let's look at examples of how to create a variable.

In [109]:
firstname = "George"
lastname = "Washington"
age = 57
height = 1.86
married = True

Creating a variable requires 3 things:
variable name, assignment operator, and value

The variable name is up to you as the programmer. The name of the variable should clearly describe what the data contained in the variable means within the context of your program.
In the examples above, the `str` `"George"` *could* represent a person's first name **or** last name, but in this program it is a first name. The `str` value `"George"` *could* represent the name of a state, but in the context of this program it is a last name. 

It's important to remember that the data doesn't mean anything to the computer. It has no idea of the meaning of what the program produces. The variable names are important for the person reading the program but to the computer, they are just arbitrary labels.

A variable can contain any of the datatypes you read about earlier: `int`, `float`, `boolean`, `str`, `tuple`, and `list`. Again, regardless of the type of data that you are storing in a variable, it is up to you as the programmer to give the variable a name the clearly states the meaning of the value it contains.

### `=` Assignment Operator
The `=` symbol is used by Python to put a value into a variable. The value on the right-hand side of the `=` is stored in the variable named on the left-hand side. When talking about Python, it's important to refer to th `=` symbol as the **assignment operator** because it more clearly describes what the symbol does. Also, later on there is another symbol, `==`, which serves a different purpose and has a different name.

### Retrieving Values from Variables
Once we have stored a value into a variable by using the assignment operator, we can then get the value back out of memory by refering to the variable by name.

In [110]:
x = 3
y = 5

We've create 2 variables, x and y.

In [111]:
x

3

We've refered to the variable `x` by name and retrieved its value from memory.

In [112]:
y

5

We've referred to the variable `y` by name and retrieved its value from memory.

Once a variable has been created, it is in the computers memory until the program terminates or it is explicitly deleted from the computer's memory. The means that we still have access to all of the variables we created earlier.

In [113]:
firstname

'George'

In [114]:
lastname

'Washington'

In [115]:
age

57

In [116]:
height

1.86

### Changing the Value of a Variable
Once a variable has been created, we can modify its contents by using the assignment operator `=` again.

In [117]:
firstname

'George'

*it's still there!!*

In [118]:
firstname = "Abraham"

In [119]:
lastname

'Washington'

In [120]:
lastname = "Lincoln"

Once we change the value of a variable, the old value is permanently lost and the new value will persist until the program ends or the variable is explicitly deleted from memory.

In [121]:
firstname

'Abraham'

In [122]:
lastname

'Lincoln'