[ToC](TOC.md)

# Datatypes, Values, and Variables

## Datatypes

The Python programming language provides a huge variety of data types which can be used to represent many different phenomena in your programs. In this course we will b focusing on a very small subset of primitive data types
* `bool` *boolean* data type for representing True and False
* `int` *integer*Â for positive and negative whole numbers)
* `float` *float* for representing positive and negative decimal values
* `str` *string* used to represent text data
* `tuple` used to represent a heterogeneous collection of data
* `list`  used to represent a homogeneous collection of data

## Values

Each of the python datatypes described above may be represented with a variety of values. Each data type has rules about how values of that datatype must be represented.

### `bool`
There are exactly 2 possible values for boolean data, `True` and `False`. In order for these to be recognized by the python interpreter, they must be spelled correctly and **the first letter must be capitalized**.

In [1]:
True

True

In [2]:
False

False

### `int`
Integers are a numeric datatype. This means that they can be used to perform mathematical operations (*see Unit 2*). They can be positive or negative whole numbers.

In [3]:
1

1

In [4]:
0

0

In [5]:
-3

-3

In [6]:
1234443234

1234443234

In [7]:
-532452345

-532452345

### `float`
Floats are another numeric datatype which can also be used to perform mathematical operations. They can be positive or negative decimal numbers with a limit imposed on precision.

In [8]:
1.0

1.0

In [9]:
-3.14

-3.14

In [10]:
23.2342342342342412313

23.23423423423424

*Notice how the last 5 decimal places were lost in the last example of a float.*

### `str`
Strings can be used to represent text data in your programs. These are useful when creating output that the user of your programs must read. Strings are created by surrounding text with quotation marks. There are 4 different ways to create strings.

In [11]:
"This is a string."

'This is a string.'

In [12]:
'Today is the day after yesterday.'

'Today is the day after yesterday.'

In [13]:
"""
A triple quoted string is useful
because it can be used to create a
string with multiple lines of text.
"""

'\nA triple quoted string is useful\nbecause it can be used to create a\nstring with multiple lines of text.\n'

In [14]:
'''
You can use triple apostrophes
as well as triple quotation marks.
'''

'\nYou can use triple apostrophes\nas well as triple quotation marks.\n'

*Note: You must end the string with the same type of quotation mark that you started it with. That type of quotation mark may not appear inside the string unless you precede it with a back slash (\\).

In [15]:
"I \"love\" you."

'I "love" you.'

In [16]:
"I 'love' you."

"I 'love' you."

In [17]:
"""
"I 'love' you.
"""

'\n"I \'love\' you.\n'

In [18]:
'''
""" I love you."""
'''

'\n""" I love you."""\n'

`tuple`

Tuples are used to represent and store multiple pieces of data that collectively represent 1 thing. The two examples below represent the lastname, firstname and year, month, and date of birth.

In [19]:
("Washington", "George", 1732, 2, 22)

('Washington', 'George', 1732, 2, 22)

In [20]:
("Lincoln", "Abraham", 1809, 2, 12)

('Lincoln', 'Abraham', 1809, 2, 12)

The next 2 examples represent x-y coordinates of points in a plane.

In [21]:
(0, 0)

(0, 0)

In [22]:
(-5, 13)

(-5, 13)

`list`

A list is a datatype used to represent a collection or sequence of items which all represent the same type of thing. An example of this would be a list of test scores, types of animals, or distances in meters.

In [23]:
[78, 84, 93, 95, 100, 89]

[78, 84, 93, 95, 100, 89]

In [24]:
["cat", "dog", "raccoon", "sea cucumber"]

['cat', 'dog', 'raccoon', 'sea cucumber']

In [25]:
[1.5, 10.75, 3.8]

[1.5, 10.75, 3.8]