[ToC](000toc.ipynb)

# Sequences

So far, all of the data we've been handling so far with Python has been very simple. It has all been of the few basic types we've encountered, namely:
* `int`
* `float`
* `str`
* `bool`

We know what these are and how we can use them to represent entities that we wish to model in our programs. Sometimes, however, theses simple types are inadequate because the entities we are trying to model are not simple. They are compound entities made up from multiple parts. In order to be able to model these types of things we need some compound data types that can be made up from parts. The two most basic types that Python provides to accomplish this are listed below.
* `tuple`
* `list`
* `str`

*Note: We haven't used `str` as a sequence yet, but you will learn that it has many of the same features as `list`.*

## Using the `tuple`
The `tuple` is used to model entities that have more than one feature or property that we want to manipulate in our programs. A `tuple` allows us to gather multiple values together into 1 compound value. `tuple`s are **heterogeneous** datatypes. This means that each value contained in the `tuple` can be of a different type. `tuple`s are also **immutable** datatypes. This means that once the `tuple` is created, it cannot be modified; it's contents are "set in stone".

### Syntax
Thus far, if we wanted to model something with multiple properties, like a person, we would do it as follows:

In [1]:
name = "Steve"
age = 25
height = 1.86
single = False

The individual person is represented with four variables, `name`, `age`, `height`, and `single`. Each of them contain one single value, `str`, `int`, `float`, and `bool` respectively. If we wanted to model another person, we've had to use additional variables:

In [2]:
name2 = "Sara"
age2 = 26
height2 = 1.56
single2 = True

If you need to model *another* person, you would have to use for *more* variables. You would have to do this for each and every additional person you want to model in your program. This will very quickly become very hard to think about, let alone write code to manipulate it.

Using `tuple`s allows us to avoid this problem. They allow us to **pack** all of the values about each person into one value which can be manipulated collectively.

In [3]:
person1 = ("Steve", 25, 1.86, False)
person2 = "Sara", 26, 1.56, True

As you can see, the syntax for creating a `tuple` is very simple. Simply separate all of the values you wish to pack together them with commas. You *may* include parentheses to make it clearer that you are using a `tuple`.

In [4]:
print(person1)

('Steve', 25, 1.86, False)

In [5]:
print(person2)

('Sara', 26, 1.56, True)

As you can see, when we access the value stored in `person1` and print it, we see all four values that we included when we created the `tuple`. The same is true of `person2`.

Once we have the values packed into a `tuple`, we can then **unpack** them whenever we need them.

In [6]:
(name, age, height, single) = person1
print(name)
print(age)
print(height)
print(single)

Steve
25
1.86
False

*Note: You can omit the parentheses when you unpack the values in the tuple*

In [7]:
name, age, height, single = person2
print(name)
print(age)
print(height)
print(single)

Sara
26
1.56
True

### Indexing

In addition to packing and unpacking the entire tuple, we can also access values in a tuple by **index**. Each value in a tuple has an index number associated with it. The indexes always start from 0 and increase by one for each additional value stored in the `tuple`. To use indexes you use what is refered to as **square bracket notation**.

In [8]:
#We stored the first name of each person in the first slot in the tuple.
#The index of the first slot is 0.
print("The first persons name:")
print(person1[0])
print("The second persons name:")
print(person2[0])

The first persons name:
Steve
The second persons name:
Sara

In [9]:
#We stored the age of each person in the second slot in the tuple.
#The index of the second slot is 1.
print("The first persons age:")
print(person1[1])
print("The second persons age:")
print(person2[1])

The first persons age:
25
The second persons age:
26

In [10]:
#We stored the height of each person in the third slot in the tuple.
#The index of the third slot is 2.
print("The first persons age:")
print(person1[2])
print("The second persons age:")
print(person2[2])

The first persons age:
1.86
The second persons age:
1.56

In [25]:
#We stored the marital status of each person in the fourth slot in the tuple.
#The index of the second slot is 3.
print("The first person is single:")
print(person1[3])
print("The second person is single:")
print(person2[3])

The first person is single:
False
The second person is single:
True

In [26]:
#If you use negative index values, you will be able to count back from the end of the tuple.
#We can always access the last item in the tuple by using -1 as the index.
print(person1[-1])
print(person1[-2])
print(person1[-3])

False
1.86
25

It's important to keep in mind that the slots in a `tuple` only have meaning because you, the programmer, says that they do. Python does not require that you put data in a tuple in any particular order. It is important that you structure your `tuple`s consistently when you use them. In this example, where we've modeled a person, we've always used the first slot to contain the name, the second to contain the age, the third to contain the height, and the fourth to contain the marital status. We could do it anyway we want, but it's important to choose the way that makes the most sense in your program and to apply it consistently.

We can only access the values in a tuple using square bracket notations, we cannot change the values. If you attempt to, you will get the `TypeError` message below.

In [12]:
person1[0] = "Ralph"

TypeError: 'tuple' object does not support item assignment

This is important to remember because it reflects a fundamental property of the `tuple` datatype: they are **immutable**. This means that once created, the contents of a `tuple` cannot be changed.

## Useful `tuple` Functions

We can always get the number of values contained in a `tuple`.

In [13]:
print(len(person1))
print(len(person2))

4
4

We can count the number of times a value occurs in a `tuple`.

In [14]:
print(person1.count("Steve"))
print(person1.count("steve"))
print(person1.count(29))

1
0
0

## Using the `list`

The second sequence type we will look at is the `list`. A `list` is very similar to a `tuple` in that it can contain multiple values, but there are two very important differences. First let's look at the syntax and then we'll look at these two differences.

### Syntax

`list`s are created in much the same way that `tuple`s are created except that instead of using parentheses we use square brackets. Unlike `tuple`s, when creating a `list` the square brackets are **not** optional.

In [34]:
grades = [75, 87, 83, 89, 78, 92]
names = ["Paul", "Peter", "Percy"]
temperatures1 = [87.2, 76.2, 99.0, 103.7] #square brackets included
temperatures2 = 87.2, 76.2, 99.0, 103.7   #square brackets omitted (this creates a tuple, not a list)

print(grades)
print(names)

print(type(temperatures1), temperatures1) #notice the difference in the output below
print(type(temperatures2), temperatures2) # for these two lines

[75, 87, 83, 89, 78, 92]
['Paul', 'Peter', 'Percy']
<class 'list'> [87.2, 76.2, 99.0, 103.7]
<class 'tuple'> (87.2, 76.2, 99.0, 103.7)

*Note: If you omit the square brackets, you create a `tuple` instead of a `list`.*

Like `tuple`s, Python `list`s allow you to unpack values into individual varables:

In [23]:
grade1, grade2, grade3, grade4, grade5, grade6 = grades
print(grade1)
print(grade2)
print(grade3)
print(grade4)
print(grade5)
print(grade6)

75
87
83
89
78
92

In [24]:
name1, name2, name3 = names
print(name1)
print(name2)
print(name3)

Paul
Peter
Percy

## Indexing

Like `tuple`s, Python `list`s allow accessing individual values contained within the `list` by using square bracket notation and an index. Indexing a `list` works in exactly the same way as indexing a `tuple`.

In [27]:
#positive index values access from the beginning of the list
print(names[0])
print(names[1])
print(names[2])

Paul
Peter
Percy

In [28]:
#negative index values access from the end of the list
print(names[-1])
print(names[-2])
print(names[-3])

Percy
Peter
Paul

In addition to accessing the contents of a `list` with an index, you can also modify the contents. This is possible because `list`s are **mutable**.

In [31]:
print(grades)
#change the first and last value in the list
grades[0] = 99
grades[-1] = 70
print(grades)

[99, 87, 83, 89, 78, 70]
[99, 87, 83, 89, 78, 70]

In [36]:
print(names)
#change the second value in the list
names[1] = 'Petunia'
print(names)

['Paul', 'Petunia', 'Percy']
['Paul', 'Petunia', 'Percy']

## Useful `list` Functions

Like `tuple`s, `list`s provide builtin functionality. Because they are mutable the collection of functions is longer that for `tuple`s so we will look at them in the [next unit](009List_Methods.ipynb).

# Two Big Differences

As mentioned at the beginning of this section, there are two big differences between `tuple`s and `list`s.

**1) `list`s are *mutable*, `tuple`s are *immutable*.**

Unlike `tuple`s which cannot be changed once they have been created, the contents of a `list` can be freely modified. This is what is meant by a datatype being **mutable**

**2) `list`s contain *homogeneous* data, `tuple`s contain *heterogeneous* data.**

Whereas `tuple`s are intended to contain multiple pieces of data that are all properties of one thing, a `list` is intended to be used as a collection of data that all represents the same type of thing. Look back through the examples above and notice that in each of the example `list`s, all of the data contained in each one is of the same type.

In [33]:
print(type(names[0]), type(names[1]), type(names[2]))
print(type(grades[0]), type(grades[1]), type(grades[2]))

<class 'str'> <class 'str'> <class 'str'>
<class 'int'> <class 'int'> <class 'int'>